<h1>ようこそ<strong> Bookers <strong>へ！</h1>
<p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br>
印象を共有し交換することができます</p>

<%= link_to "start", "https://379991ad25cd42d4a8ac42e2dc0fe887.vfs.cloud9.us-east-1.amazonaws.com/books" %>
